.resolution-selector-container {
  display: flex;
  margin-bottom: 20px;

  .resolution-block {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .panel-anchor {
    position: relative;
  }

  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    display: flex;
    align-self: center;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;  
    border-top: 5px solid black;
    display: flex;
    align-self: center;
  }
}