<div class="resolution-selector-container">
  <div class="resolution-block">
    Time
  </div>
  <div (click)="onResolutionClick(resolution)" *ngFor="let resolution of resolutions" class="resolution-block">
    {{ resolution | intervalName }}
  </div>
  <div class="d-flex panel-anchor">
    <div class="arrow-down">
    </div>
    <app-resolution-selector-panel appOutsideClick (clickOutside)="onClickOutSide()" (resolutionListChange)="onResolutionListChange($event)"></app-resolution-selector-panel>
  </div>
</div>
