<div class="resolution-selector-container">
  <div class="resolution-block">
    Time
  </div>
  <div (click)="onResolutionClick(resolution)" *ngFor="let resolution of resolutions" class="resolution-block">
    {{ resolution | intervalName }}
  </div>
  <div class="d-flex panel-anchor">
    <div (click)="onArrowClick()" class="arrow" [ngClass]="{'up': isDisplayPanel, 'down': !isDisplayPanel }"></div>
    <app-resolution-selector-panel [class.hide]="!isDisplayPanel"
      (resolutionListChange)="onResolutionListChange($event)"></app-resolution-selector-panel>
  </div>
</div>
<div class="overlay" *ngIf="isDisplayPanel" (click)="onClickOutSide()"></div>
